body{
  background-color: #16a1f1;
}

#sky{
  background-image: url('img/background.png');
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 950px;
  animation: backgroundAnimation 1500s infinite linear;
  -webkit-animation: backgroundAnimation 1500s infinite linear;
}

.birb{
  position: absolute;
  bottom: 30px;
  background-image: url('img/flappy-bird.png');
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.obsticle{
  position: absolute;
  bottom: 30px;
  width: 50px;
  height: 83px;
  background-image: url('img/Pipe.jpg');
}

.obsticle2{
  position: absolute;
  bottom: 300px;
  width: 60px;
  height: 60px;
  background-image: url('img/Pipe2.png');
}

@keyframes backgroundAnimation{
  from{
    background-position: 70000%;
  }
  to{
    background-position: 0%;
  }
}